@inherits LayoutComponentBase
@*@implements IDisposable;
*@
<PageTitle>المكتبة الصوفية</PageTitle>
<style>
    
</style>
<div class="page">
    @*<div class="sidebar" style="background-color:#1d764d!important;background-image:none !important; width:auto; ">*@
         <div class="coustomsidebar" style="background-color:#1d764d!important;background-image:none !important; ">
        <div  >
            <NavMenu />
        </div>
       
    </div>

    <main>
      

           
        @*<article class="" style=" padding:0 !important;overflow:auto; margin-right:80px;background:linear-gradient(0deg,transparent,#f2f2f2)">*@
        <article class="custom-artilce" >
            @Body
        </article>
    </main>
</div>

@code{
 
  
  


}